.popup__save-button_disabled {
  border: 1px solid #000000;
  color: #000000;
  background-color: #FFFFFF;
  opacity: 0.2;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

.popup__save-button_disabled:hover {
  opacity: 0.2;
  cursor: default;
}