.profile__description {
  display: grid;
  /* grid-template-columns: minmax(min-content, max-content) 24px; */
  grid-template-columns: fit-content(394px) 24px;
  grid-template-rows: auto auto;
  column-gap: 16px;
  row-gap: 18px;
}

@media screen and (max-width: 1023px) {
  .profile__description {
    grid-template-columns: fit-content(320px) 24px;
  }
}

@media screen and (max-width: 914px) {
  .profile__description {
    column-gap: 14px;
    row-gap: 17px;
  }
}

@media screen and (max-width: 890px) {
  .profile__description {
    column-gap: 12px;
    row-gap: 16px;
  }
}

@media screen and (max-width: 627px) {
  .profile__description {
    grid-template-columns: fit-content(254px) 18px;
    grid-template-rows: auto auto;
    column-gap: 10px;
    row-gap: 14px;
  }
}