.popup__save-button {
  border: none;
  background-color: #000000;
  border-radius: 2px;
  outline: none;

  margin-top: 31.34px;
  cursor: pointer;
  
  width: 358px;
  height: 50px;
  padding: 0;
  
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.popup__save-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 628px) {
  .popup__save-button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 45px;
  }
}